html,
body {
    min-height: 100vh;
}

body {
    height: 100vh;
}

.header {
    background: #41505f url("../../assets/5I5A9807.jpg") no-repeat center center / cover fixed;
    display: block;
    font-family: 'Handlee', cursive;
    height: 100%;
    position: relative;
    text-align: center;
}

.content-fluid {
    padding-left: 20vh;
    padding-right: 20vh;
}

/* Bootstrap Overrides */
.affix-top {
    /* navbar style at top */
    background-color:transparent;
    border-color:transparent;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease; 
    -o-transition:all 0.5s ease;         
    transition:all 0.5s ease;  
}

.jumbotron {
    padding-top: 75px;
}

.fas {
    color: white;
}