html,
body {
    min-height: 100vh;
}

body {
    height: 100vh;
}

.container-fluid {
    background: #41505f url("../../assets/5I5A9807.jpg") no-repeat center center / cover fixed;
    display: block;
    font-family: 'Handlee', cursive;
    height: 100%;
    position: relative;
}


@media (min-width: 992px){
    /* csslint allow: IDs in Selectors */
    .left { 
        bottom: 0;
        position: fixed;
        top: 0;
    }
}